---
import {
  faBluesky,
  faGithub,
  faLinkedin,
  faStackOverflow,
  faXTwitter,
} from "@fortawesome/free-brands-svg-icons";
import { faEnvelope } from "@fortawesome/free-solid-svg-icons";
import FontAwesomeIcon from "../components/FontAwesomeIcon.astro";
---

<footer
  class="mx-auto flex w-full max-w-4xl flex-col items-center justify-between gap-4 px-4 py-6 text-sm text-tokyo-fg-muted sm:flex-row sm:px-6 lg:px-8"
>
  <span>© Tyler Benfield 2025</span>
  <ul class="flex gap-4 text-xl">
    <li>
      <a
        href="https://bsky.app/profile/rtbenfield.dev"
        target="_blank"
        title="Find me on Bluesky"
        class="hover:text-tokyo-blue"
      >
        <FontAwesomeIcon icon={faBluesky} />
      </a>
    </li>
    <li>
      <a
        href="https://twitter.com/rtbenfield"
        target="_blank"
        title="Find me on X (Twitter)"
        class="hover:text-tokyo-blue"
      >
        <FontAwesomeIcon icon={faXTwitter} />
      </a>
    </li>
    <li>
      <a
        href="https://github.com/rtbenfield"
        target="_blank"
        title="Find me on GitHub"
        class="hover:text-tokyo-blue"
      >
        <FontAwesomeIcon icon={faGithub} />
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/tylerbenfield/"
        target="_blank"
        title="Find me on LinkedIn"
        class="hover:text-tokyo-blue"
      >
        <FontAwesomeIcon icon={faLinkedin} />
      </a>
    </li>
    <li>
      <a
        href="https://stackoverflow.com/users/9867662/tyler"
        target="_blank"
        title="Find me on StackOverflow"
        class="hover:text-tokyo-blue"
      >
        <FontAwesomeIcon icon={faStackOverflow} />
      </a>
    </li>
    <li>
      <a
        href="mailto:tyler@tylerbenfield.me"
        target="_blank"
        title="Email me"
        class="hover:text-tokyo-blue"
      >
        <FontAwesomeIcon icon={faEnvelope} />
      </a>
    </li>
  </ul>
</footer>
